@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    
    padding: theme('spacing.6');
    margin-bottom: 25px;
    box-shadow: theme('boxShadow.xl');
  }
 
}